@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

main {
    font-family: 'Open Sans', sans-serif;
}
/* --- HEADER --- */
header {
    display: flex;
    justify-content: center;
    background: rgb(30, 27, 92);
    background: linear-gradient(90deg, rgba(30, 27, 92, 1) 0%, rgba(82, 61, 152, 1) 15%, rgba(82, 61, 152, 1) 85%, rgba(30, 27, 92, 1) 100%);
    width: 100%;
}

header div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    max-width: 1201px;
}

.header-img-container img {
    width: 50px;
    margin-left: 18px;
}

.header-img-container {
    color: white;
    position: relative;
}

.header-img-container p {
    position: absolute;
    font-size: 1.6rem;
    left: 80px;
}

.header-img-container, .nav, .nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 12px;
}

/* --- Nav --- */
.nav ul a{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.nav-btn {
    background-color: #2a1080;
    border-radius: 8px;
    padding: 6px 16px;
    width: 100px;
}

/* --- Front Page Section --- */
.frontpage {
    display: flex;
    align-items: center;
    height: 94vh;
    gap: 80px;
    background: rgb(30, 27, 92);
    background: linear-gradient(90deg, rgba(30, 27, 92, 1) 0%, rgba(82, 61, 152, 1) 15%, rgba(82, 61, 152, 1) 85%, rgba(30, 27, 92, 1) 100%);
}

.frontpage-left {
   width: 400px;
   margin-left: 15%;
}

.frontpage-left img {
    width: 100%;
}
.frontpage-right {
   width: 400px;
   color: white;
}

.frontpage-right i {
    font-weight: 100;
}

.frontpage-right h1 {
    margin: 0;
    font-size: 3rem;
}

.frontpage-right p {
    font-weight: 300;
    margin-bottom: 22px;
}

.frontpage-right a {
    background-color: #2a1080;
    border-radius: 8px;
    padding: 6px 12px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}